<h3>Hi {{name}},</h3>
<h2>Welcome to Creative</h2>
<h2>You are now a registered Admin</h2>
<p>Find below your login details</p>
<p>email: {{email}}</p>
<p>password: {{password}}</p>

<p>Thank you!"
</p>