<h3>Dear {{name}}</h3>
<h3>We are glad to have you onboard at Creative School</h3>
<h3>Below are onboarding details to the school portal</h3>
<h3>email: {{email}}</h3>
<h3>password: {{password}}</h3>

<h3>Please Note: the details are exclusively for you</h3>
</p>
<p>Thank you!
</p>