<h3>Hi</h3>
<h3>You have successfully created a user: {{name}}</h3>
<h3>Please Note: the details are exclusively for you</h3>

<h3>email: {{email}}</h3>
<h3>password: {{password}}</h3>

<p>Thank you!
</p>