  <div class="main-content">
      <div class="hi">Hi {{name}}</div>
      <h2 class="title">Title: {{title}}</h2>
      <div class="content">
        <p>message: {{message}}</p>
      </div>
      <div class="btn-cont">
        <button class="btn">Explore More</button>
      </div>
    </div>