<h3>Dear Parent</h3>
<p>We hope this message finds you well.</p>
<p>We want to inform you that, going forward, you will now use your child’s Student ID {studentId} and password to log in to the school portal instead of using an email and password. This change was implemented to make it easier for parents with multiple children to access all their children's accounts without any confusion.
</p>
<p> 
This is your child's Student ID <h3>{{studentId}}</h3></p>
</p>

</p>
<p>Thank you!
</p>